<!DOCTYPE html>
<html>
    
<head>
    <title>Create Hewan Peliharaan</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" 
    rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen py-6">
    <div class="max-w-md w-full rounded-lg shadow-lg p-6 text-left">
        <h1 class="text-3xl font-bold mb-4 text-gray-900">Create New Pet</h1>
        <form class="max-w-sm">
            <div class="mb-5">
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pemilik</label>
                <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option>Senin</option>
                    <option>Selasa</option>
                    <option>Rabu</option>
                    <option>Kamis</option>
                    <option>Jumat</option>
                    <option>Sabtu</option>
                    <option>Minggu</option>
                </select>
            </div>

            <div class="mb-5">
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Jenis Hewan</label>
                <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option>Kucing</option>
                    <option>Anjing</option>
                    <option>Kelinci</option>
                    <option>Ikan</option>
                    <option>Burung</option>
                </select>
            </div>

            <div class="mb-5">
                <label for="nama_pet" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama Hewan Peliharaan</label>
                <input type="text" id="nama_pet" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>

            <div class="mb-5">
                <label for="tanggal_lahir" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tanggal Lahir Hewan</label>
                <input type="date" id="tanggal_lahir" name="tanggal_lahir" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light" required />
            </div>

            <div class="mb-5">
                <label for="url_foto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL Foto Hewan</label>
                <input type="url" id="url_foto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>

            <div class="inline flex justify-end">
                <button type="button" class=" border border-gray-900 text-black px-4 py-2 rounded hover:bg-gray-300 transition w-20 mr-4">Cancel</button>
                <button type="submit" class="bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-500 transition w-20">Create</button>
            </div>
        </form>
    </div>
</body>

</html>