<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Jenis Hewan</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center p-8">
<div class="max-w-md w-full rounded-lg shadow-lg p-6 text-left">
    <h1 class="text-3xl font-bold mb-4 text-gray-900">Update Pet</h1>

    <form method="POST" action="{% url 'hewan:update_hewan_fdo' hewan.id %}">
        {% csrf_token %}

        <div class="mb-5">
            <label for="pemilik" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pemilik</label>
            <select id="pemilik" name="pemilik" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="" disabled selected>Pilih pemilik</option>
                {% for klien in klien_list %}
                    <option value="{{ klien.no_identitas }}" {% if klien.no_identitas == hewan.pemilik %} selected {% endif %}>
                        {% if klien.individu %}
                            {{ klien.individu.nama_depan }} {{ klien.individu.nama_belakang }}
                        {% elif klien.perusahaan %}
                            {{ klien.perusahaan.nama_perusahaan }}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-5">
            <label for="jenis_hewan" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Jenis Hewan</label>
            <select id="jenis_hewan" name="jenis_hewan" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="" disabled selected>Pilih jenis hewan</option>
                {% for jenis in jenis_hewan_list %}
                    <option value="{{ jenis.id }}" {% if jenis.id == hewan.jenis_hewan.id %} selected {% endif %}>
                        {{ jenis.nama_jenis }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-5">
            <label for="nama_pet" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama Hewan Peliharaan</label>
            <input type="text" id="nama_pet" name="nama_pet" value="{{ hewan.nama_pet }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>

        <div class="mb-5">
            <label for="tanggal_lahir" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tanggal Lahir Hewan</label>
            <input type="date" id="tanggal_lahir" name="tanggal_lahir" value="{{ hewan.tanggal_lahir }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>

        <div class="mb-5">
            <label for="url_foto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL Foto Hewan</label>
            <input type="url" id="url_foto" name="url_foto" value="{{ hewan.url_foto }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <div class="flex justify-end space-x-4">
            <a href="{% url 'hewan:list_hewan_peliharaan' %}" class="border border-gray-900 text-black px-4 py-2 rounded hover:bg-gray-500 hover:text-white transition w-20">Cancel</a>
            <button type="submit" class="bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-700 transition w-20">Update</button>
        </div>
    </form>
</div>
</body>
</html>