<!DOCTYPE html>
<html>
    
<head>
    <title>Register Perusahaan</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" 
    rel="stylesheet">
</head>
<body>
    <div>
        <h1>FORM REGISTER</h1>
        <p>Klien - Individu</p>
        <form>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email"><br>

            <label for="nama_perusahaan">Nama Depan</label><br>
            <input type="text" id="nama_perusahaan" name="nama_perusahaan"><br>

            <label for="password">Password</label><br>
            <input type="text" id="password" name="password"><br>

            <label for="nomor_telepon">Nomor Telepon</label><br>
            <input type="number" id="nomor_telepon" name="nomor_telepon"><br>

            <label for="alamat">Alamat</label><br>
            <input type="text" id="alamat" name="alamat"><br>
            
            <button>Register</button>
        </form>
    </div>
</body>

</html>