<!DOCTYPE html>
<html>
    
<head>
    <title>Register</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" 
    rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-3xl font-bold mb-4 text-gray-900">REGISTRASI AKUN</h1>
        <div class="flex space-x-8 justify-center">
            <div>
                <p class="text-lg font-semibold mb-2 text-gray-700">Pegawai</p>
                <div class="space-y-2"></div>
                    <button class="w-48 bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-600 transition">Front-Desk Officer</button>
                    <button class="w-48 bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-600 transition">Dokter Hewan</button>
                    <button class="w-48 bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-600 transition">Perawat Hewan</button>
                </div>
            </div>
            <div>
                <p class="text-lg font-semibold mb-2 text-gray-700">Klien</p>
                <div class="space-y-2"></div>
                    <button class="w-48 bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-600 transition">Individu</button>
                    <button class="w-48 bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-600 transition">Perusahaan</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>