<!DOCTYPE html>
<html>
    
<head>
    <title>Register</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" 
    rel="stylesheet">
</head>
<body>
    <div>
        <h1>REGISTRASI AKUN</h1>
        <div>
            <div>
                <p>Pegawai</p>
                <button>Front-Desk Officer</button>
                <button>Dokter Hewan</button>
                <button>Perawat Hewan</button>
            </div>
            <div>
                <p>Klien</p>
                <button>Individu</button>
                <button>Perusahaan</button>
            </div>
        </div>
    </div>
</body>

</html>