<!DOCTYPE html>
<html>

<head>
    <title>Start Screen</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" 
    rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen">
    <div>
        <h1 class="text-3xl mb-6 text-gray-900">Pet Clinic - C05</h1>
        <div class="flex space-x-2">
            <button class="w-24 sm:w-32 bg-gray-700 text-white px-4 py-2 rounded">Login</button>
            <button class="w-24 sm:w-32 bg-gray-700 text-white px-4 py-2 rounded">Register</button>
        </div>
    </div>
</body>

</html>