{% block navbar %}
    {% include 'navbar/navbar_pengunjung.html' %}

<!DOCTYPE html>
<html>

<head>
    <title>Start Screen</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" 
    rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen">
    <div class="bg-white p-6 rounded-md shadow-md text-center w-80">
        <h1 class="text-xl font-bold mb-6">Pet Clinic - &lt;C5&gt;</h1>
        <div class="flex justify-center space-x-4">
            <a href="{% url 'main:login' %}" 
               class="bg-gray-900 text-white px-6 py-2 rounded-md hover:bg-gray-800 transition">
               Login
            </a>
            <a href="{% url 'main:register' %}" 
               class="bg-gray-900 text-white px-6 py-2 rounded-md hover:bg-gray-800 transition">
               Register
            </a>
        </div>
    </div>
</body>

</html>
{% endblock %}